h1{
    color:rosybrown;
    font-size: 40px;
    font-weight: bold
}

h4{
    color:rosybrown;
    font-weight: lighter;
}
h5{
    color:rosybrown;
    font-size: 16px;
}
body{
    background: lightgray;

}